<?xml version="1.0"?>
<Planning xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <TotalCoalAmount>20</TotalCoalAmount>
  <AveragePrice>500</AveragePrice>
  <AverageQnetThreshold>5000</AverageQnetThreshold>
  <AverageVadThreshold>23</AverageVadThreshold>
  <AverageSadThreshold>1.2</AverageSadThreshold>
</Planning>