<?xml version="1.0"?>
<ArrayOfVendor xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Vendor>
    <Name>山西潞安</Name>
    <PricePerUnit>512</PricePerUnit>
    <QnetPerUnit>5678</QnetPerUnit>
    <VadPerUnit>11.5</VadPerUnit>
    <SadPerUnit>0.49</SadPerUnit>
    <MinPurchase>0</MinPurchase>
    <MaxPurchase>3</MaxPurchase>
    <PurchaseUnit>0.33</PurchaseUnit>
  </Vendor>
  <Vendor>
    <Name>吕梁聚晟</Name>
    <PricePerUnit>489</PricePerUnit>
    <QnetPerUnit>6081</QnetPerUnit>
    <VadPerUnit>21.86</VadPerUnit>
    <SadPerUnit>1.52</SadPerUnit>
    <MinPurchase>0</MinPurchase>
    <MaxPurchase>3</MaxPurchase>
    <PurchaseUnit>0.33</PurchaseUnit>
  </Vendor>
  <Vendor>
    <Name>黄河物流</Name>
    <PricePerUnit>501</PricePerUnit>
    <QnetPerUnit>5607</QnetPerUnit>
    <VadPerUnit>15.82</VadPerUnit>
    <SadPerUnit>2.15</SadPerUnit>
    <MinPurchase>0</MinPurchase>
    <MaxPurchase>3</MaxPurchase>
    <PurchaseUnit>0.33</PurchaseUnit>
  </Vendor>
  <Vendor>
    <Name>阳泉煤业</Name>
    <PricePerUnit>503</PricePerUnit>
    <QnetPerUnit>5642</QnetPerUnit>
    <VadPerUnit>7.91</VadPerUnit>
    <SadPerUnit>1.11</SadPerUnit>
    <MinPurchase>0</MinPurchase>
    <MaxPurchase>3</MaxPurchase>
    <PurchaseUnit>0.33</PurchaseUnit>
  </Vendor>
  <Vendor>
    <Name>陕西彬长</Name>
    <PricePerUnit>432</PricePerUnit>
    <QnetPerUnit>5510</QnetPerUnit>
    <VadPerUnit>28.35</VadPerUnit>
    <SadPerUnit>0.6</SadPerUnit>
    <MinPurchase>0</MinPurchase>
    <MaxPurchase>3</MaxPurchase>
    <PurchaseUnit>0.33</PurchaseUnit>
  </Vendor>
  <Vendor>
    <Name>山能国际</Name>
    <PricePerUnit>479</PricePerUnit>
    <QnetPerUnit>5776</QnetPerUnit>
    <VadPerUnit>27.06</VadPerUnit>
    <SadPerUnit>0.61</SadPerUnit>
    <MinPurchase>0</MinPurchase>
    <MaxPurchase>6</MaxPurchase>
    <PurchaseUnit>0.33</PurchaseUnit>
  </Vendor>
  <Vendor>
    <Name>天安煤业</Name>
    <PricePerUnit>513</PricePerUnit>
    <QnetPerUnit>4397</QnetPerUnit>
    <VadPerUnit>21.33</VadPerUnit>
    <SadPerUnit>0.51</SadPerUnit>
    <MinPurchase>0</MinPurchase>
    <MaxPurchase>7</MaxPurchase>
    <PurchaseUnit>0.33</PurchaseUnit>
  </Vendor>
  <Vendor>
    <Name>郑煤集团</Name>
    <PricePerUnit>600</PricePerUnit>
    <QnetPerUnit>5204</QnetPerUnit>
    <VadPerUnit>11.23</VadPerUnit>
    <SadPerUnit>0.53</SadPerUnit>
    <MinPurchase>0</MinPurchase>
    <MaxPurchase>5</MaxPurchase>
    <PurchaseUnit>0.4</PurchaseUnit>
  </Vendor>
  <Vendor>
    <Name>淮南矿业</Name>
    <PricePerUnit>405</PricePerUnit>
    <QnetPerUnit>4974</QnetPerUnit>
    <VadPerUnit>26.27</VadPerUnit>
    <SadPerUnit>0.56</SadPerUnit>
    <MinPurchase>0</MinPurchase>
    <MaxPurchase>7</MaxPurchase>
    <PurchaseUnit>0.33</PurchaseUnit>
  </Vendor>
  <Vendor>
    <Name>国投新集</Name>
    <PricePerUnit>528</PricePerUnit>
    <QnetPerUnit>4793</QnetPerUnit>
    <VadPerUnit>26.84</VadPerUnit>
    <SadPerUnit>0.57</SadPerUnit>
    <MinPurchase>0</MinPurchase>
    <MaxPurchase>7</MaxPurchase>
    <PurchaseUnit>0.33</PurchaseUnit>
  </Vendor>
  <Vendor>
    <Name>中煤集团</Name>
    <PricePerUnit>543</PricePerUnit>
    <QnetPerUnit>5110</QnetPerUnit>
    <VadPerUnit>30</VadPerUnit>
    <SadPerUnit>1.78</SadPerUnit>
    <MinPurchase>0</MinPurchase>
    <MaxPurchase>20</MaxPurchase>
    <PurchaseUnit>4.3</PurchaseUnit>
  </Vendor>
  <Vendor>
    <Name>同煤集团</Name>
    <PricePerUnit>459</PricePerUnit>
    <QnetPerUnit>5012</QnetPerUnit>
    <VadPerUnit>29.5</VadPerUnit>
    <SadPerUnit>1.42</SadPerUnit>
    <MinPurchase>0</MinPurchase>
    <MaxPurchase>20</MaxPurchase>
    <PurchaseUnit>4.3</PurchaseUnit>
  </Vendor>
</ArrayOfVendor>